@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  position: relative;
}

.spacer {
  position: absolute;
  aspect-ratio: 900/600;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}
.spacer-unabsolute {
  aspect-ratio: 900/600;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.layer-bot-white {
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Crect x='0' y='0' width='960' height='540' fill='%23ffffff'%3E%3C/rect%3E%3Cpath d='M0 522L51 491L101 502L152 517L202 501L253 530L303 529L354 518L404 487L455 517L505 493L556 531L606 501L657 505L707 526L758 535L808 491L859 509L909 533L960 509L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23e34cda'%3E%3C/path%3E%3Cpath d='M0 536L51 491L101 539L152 531L202 518L253 522L303 513L354 500L404 518L455 495L505 534L556 526L606 537L657 528L707 524L758 523L808 531L859 497L909 491L960 515L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23fc44b6'%3E%3C/path%3E%3Cpath d='M0 510L51 496L101 523L152 525L202 525L253 505L303 504L354 515L404 525L455 527L505 532L556 520L606 526L657 498L707 535L758 498L808 526L859 537L909 530L960 498L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23ff4a95'%3E%3C/path%3E%3Cpath d='M0 515L51 529L101 527L152 512L202 526L253 506L303 528L354 524L404 502L455 516L505 517L556 514L606 529L657 525L707 518L758 528L808 523L859 526L909 503L960 538L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23ff5b78'%3E%3C/path%3E%3Cpath d='M0 509L51 539L101 520L152 514L202 522L253 525L303 532L354 521L404 530L455 518L505 532L556 524L606 516L657 532L707 511L758 511L808 519L859 534L909 507L960 509L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23ff6f61'%3E%3C/path%3E%3Cpath d='M0 538L51 533L101 525L152 525L202 537L253 518L303 537L354 525L404 524L455 519L505 528L556 525L606 513L657 513L707 535L758 517L808 532L859 538L909 526L960 531L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23ff864d'%3E%3C/path%3E%3Cpath d='M0 535L51 536L101 531L152 533L202 530L253 535L303 526L354 518L404 525L455 533L505 524L556 534L606 538L657 529L707 537L758 520L808 530L859 533L909 522L960 533L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23ffa03a'%3E%3C/path%3E%3Cpath d='M0 530L51 534L101 536L152 538L202 538L253 529L303 524L354 528L404 538L455 535L505 534L556 533L606 538L657 528L707 524L758 533L808 529L859 537L909 537L960 526L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23fabb2a'%3E%3C/path%3E%3Cpath d='M0 537L51 528L101 535L152 529L202 537L253 530L303 539L354 529L404 537L455 533L505 537L556 538L606 537L657 536L707 532L758 532L808 534L859 532L909 537L960 528L960 541L909 541L859 541L808 541L758 541L707 541L657 541L606 541L556 541L505 541L455 541L404 541L354 541L303 541L253 541L202 541L152 541L101 541L51 541L0 541Z' fill='%23e8d629'%3E%3C/path%3E%3C/svg%3E");
}

.layer-bot-black {
  background-image: url("public/static/svg/layered-peaks-haikei (8).svg");
}
